
// Variables
@import ../sass/_variables

// Mixins
@import ../sass/_mixins

// General Styles
*
  box-sizing: border-box

body
  font-family: $main-font
  font-weight: 400
  font-size: 16px
  margin: 0
  padding: 0

// Text Styles
h1
  font-size: 3em
  font-weight: 700
  span
    font-size: 2rem

h2
  font-size: 2em
  font-weight: 700

h3
  font-size: 1.5em
  font-weight: 700

a
  text-decoration: none

// Header Styles
header#main-header
  +flexbox
  flex-flow: row
  align-items: stretch
  justify-content: center
  height: 100vh
  color: $brown
  width: 100%
  article
    text-align: center
    background-color: $white
    flex-grow: 3
    flex-shrink: 3
    #learn-more
      position: relative
      border-radius: 8px
      padding: 10px 20px 20px 20px
      color: $white
      font-size: 2em
      background-color: $light-orange
      border-bottom: 5px solid $brown
      &:after
        position: absolute
        top: 55px
        left: 50%
        margin-left: -11px
        content: ''
        width: 0
        height: 0
        border-right: 11px solid transparent
        border-left: 11px solid transparent
        border-top: 11px solid $white
        border-bottom: 11px solid transparent
      &:hover
        background-color: $dark-orange
        border-bottom: 3px solid $brown
        margin-bottom: -2px
  aside
    background-color: $beige
    flex-grow: 1
    flex-shrink: 1
    flex-direction: row
    h2
      margin: 40px
    form
      > *
        display: block

// Footer Styles
footer
  text-align: center
  position: fixed
  bottom: 0
  width: 100%
  background-color: $brown
  color: $white
  z-index: 150
  article
    h3
      padding-bottom: 0
      margin-bottom: 0
    p
      margin-top: 0
      padding-top: 0