body
  +font('big')
  background-color: $brown
  color: $white
  font-family: $font-text
  margin: 0

  +breakpoint($big-width)
    +font(medium)

  +breakpoint($medium-width)
    +font(medium)

  +breakpoint($small-width)
    +font(small)

  +breakpoint($smallest-width)
    +font(smaller)

h2
  font-size: $font-size-h2
  color: $beige

label
  line-height: 2

img
  max-width: 100%

#main
  +span(isolate 14 at 6)

  +breakpoint($big-width)
    +span(isolate 16 at 5)

  +breakpoint($small-width)
    +span(isolate 18 at 4)

  +breakpoint($smallest-width)
    +span(isolate 20 at 3)
