
#or-amento-e-contato-entityform-edit-form
  +span(isolate 14 at 6)

  .description
    line-height: 2

input, textarea
  background-color: $white
  border: none
  padding: 1em
  color: $brown

#edit-submit
  background-color: $light-orange
  color: $white

.form-required
  color: $beige
