// Coxilhos footer styles.

footer
  +container()
  background-color: $dark-orange
  padding: 1rem 0
  clear: both

  p
    margin: 0

.facebook-page-icon
  @extend .fa
  @extend .fa-facebook-square
  color: white
  font-size: $font-size-h3
  float: right

  &:hover
    text-decoration: none
