#coxilhos-header
  +container()
  text-align: center
  background-image: url('../img/header1.jpg')
  background-position: center
  background-size: cover

  h1
    color: $brown
    margin: 0

  img
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0,rgba(255,255,255,0) 60%)

#coxilhos-header-wrapper
  background-color: $transluscent-beige
  padding: 1rem
